<#@ template language="C#" debug="True" hostSpecific="True" compilerOptions="/langversion:6"  #>
<#@ output extension=".generated.cs"                                                          #>
<#@ include file="..\..\..\Source\DBLayer.Templates\DBLayer.Informix.ttinclude" once="true" #>
<#@ include file="..\Shared.ttinclude"                                            once="true" #>
<#
	NamespaceName = "InformixDataContext";

	LoadInformixMetadata(GetConnectionString("Informix"), DBLayer.ProviderName.Informix);
	GenerateModel();
#>
